.home {
  padding-top: 13rem;
  padding-left: 4rem;
  background: #f8f8f8;
  position: relative;
  padding-bottom: 20px;
}
.home::before {
  content: '';
  position: absolute;
  left: 100;
  bottom: 0px;
  right: 20px;
  top: 56px;
  margin: auto;
  width: 550px;
  background-image: url('../assets/Images/bohemian-man-with-his-arms-crossed-removebg-preview.png');
  background-repeat: no-repeat;
}
.home-content {
  position: relative;
}
.home-content h3 {
  font-size: 45px;
  font-weight: 900;
  font-family: 'Nuosu SIL', serif;
  padding-bottom: 15px;
  color: #333333;
}
.home-content h2 {
  font-family: 'Poppins', sans-serif;
  font-family: 'Nuosu SIL', serif;
  font-size: 65px;
  font-weight: 700;
  padding-bottom: 15px;
  color: #333333;
}
.home-content h2 span {
  color: #21d190;
}
.home-content p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  width: 45%;
  color: #333333;
  line-height: 30px;
}
.social {
  margin-top: 30px;
  position: relative;
}
.social a i {
  width: 50px;
  height: 50px;
  padding: 15px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  border: 2px solid #21d190;
  color: #21d190;
  margin: 0 5px 0 0;
}
.port-btn {
  margin-top: 40px;
  cursor: pointer;
}
.port-btn a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  background: #21d190;
  border: 2px solid #21d190;
}
@media screen and (max-width: 984px) {
  .home {
    padding-top: 10rem;
  }
  .home-content p {
    width: 60%;
  }
  .home::before {
    right: 0;
    top: 20px;
    margin: auto;
    width: 400px;
    height: 630px;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .home {
    padding-left: 3rem;
    padding-bottom: 6rem;
    height: 100%;
  }
  .home::before {
    display: none;
  }
  .home-content h3 {
    font-size: 40px;
  }
  .home-content p {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .home {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .home-content h2 {
    font-size: 45px;
  }
  .home-content p {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .home {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .home-content h3 {
    font-size: 30px;
  }
  .home-content h2 {
    font-size: 35px;
  }
  .social a i {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
  }
}
