.blog {
  padding: 1rem 2rem 1rem 2rem;
}

.blog-tittle {
  text-align: center;
  padding-bottom: 40px;
}

.blog-tittle h2 {
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 35px;
  font-family: 'Nuosu SIL', serif;
}

.blog-tittle h2 span {
  color: #21d190;
}

.blog-tittle p {
  font-size: 15px;
  font-weight: 400;
  width: 50%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 30px;
}

.blog-line {
  height: 3px;
  width: 82px;
  background-color: #21d190;
  margin: auto;
}

.blog-row {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.blog-col {
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 15px 5px rgb(44 44 44 / 5%);
  position: relative;
}

.blog-img {
  position: relative;
}

.blog-img img {
  width: 100%;
}

.blog-img::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  right: 0;
  top: 0;
  background: #001d38;
  opacity: 0.3;
}

.img-tag {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding: 15px 15px 0 15px;
}

.img-tag h3 {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #21d190;
  display: inline-block;
  padding: 6px 18px;
  float: right;
}

.auther {
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.auther-img {
  float: left;
  margin-right: 10px;
}

.auther-img img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.auther-name {
  overflow: hidden;
  display: inline-block;
}

.auther-name span {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  line-height: 35px;
}

.post-content {
  padding: 25px 25px;
}

.post-content p {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #3c3c3c;
}

.post-content p i {
  font-size: 12px;
}

.post-content p span {
  font-weight: 600;
  letter-spacing: 1px;
}

.post-title h4 {
  display: block;
  color: #3c3c3c;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 10px;
}

.post-text>p {
  line-height: 1.8;
  font-weight: 400;
  color: #3c3c3c;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

.post-content .post-more {
  padding: 8px 15px;
  border: 1px solid #21d190;
  background: #21d190;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.4s;
}

.post-more:hover {
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .blog {
    padding: 1rem 1rem 1rem 1rem;
  }

  .blog-tittle p {
    width: 80%;
  }

  .blog-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .blog-col {
    margin: 0 15px 25px 15px;
    box-shadow: 0 4px 15px 5px rgb(44 44 44 / 5%);
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .blog-tittle p {
    width: 100%;
  }

  .blog-col {
    margin: 0 10px 25px 10px;
    box-shadow: 0 4px 15px 5px rgb(44 44 44 / 5%);
    position: relative;
  }

  .blog-img .image {
    width: 100%;
  }

  .post-content {
    padding: 25px 25px;
  }
}

@media screen and (max-width: 550px) {
  .blog-row {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
  }

  .blog-tittle h2 {
    font-size: 35px;
  }

  .post-content {
    padding: 25px 10px;
  }
}
